<!doctype html>
<html>
  <head>
    <% if (includeFrontend) { %><link rel="stylesheet" href="/css/main.css">
    <script src="/js/bundle.js"></script><%}%>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
